* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

section {
    display: inline-block;
    margin: 5%;
}

p {
    background-color: crimson;
    color: yellow;
    width: 150px;
    line-height: 150px;
    border-radius: 20px;
    font-size: 3rem;
}